/* оформлення головної сторінки */

/* Header navigation design */
:root {
  --color-one--: #ffffff;
  --color-two--: #2196f3;
  --color-three--: #212121;
  --color-four--: #757575;
  --color-five--: #f5f4fa;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-three--);
  background-color: var(--color-one--);
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link-design {
  text-decoration: none;
}
.logo-link {
  text-decoration: none;
}

/*------------------------ HEADER DESIGN--------------------*/
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: tomato;
}
.header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.footer-logo-design,
.web-customazation {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-one--);
}

.header-logo-design {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-three--);
}

/* links design */

.link-design {
  color: var(--color-three--);
}
.web-customazation,
.link-design:hover,
.link-design:focus,
.mail-design:hover,
.mail-design:focus,
.tel-design:hover,
.tel-design:focus {
  color: var(--color-two--);
}
.mail-design,
.tel-design {
  color: var(--color-four--);
}
.section {
  display: block;
}

.centered {
  text-align: center;
}
/*------------------------ HEROE SECTION DESIGN--------------------*/

.heroe-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-one--);
  margin-top: 0;
  margin-bottom: 30px;
  background-color: var(--color-three--);
}
/* .heroe-title-position {
.heroe-section-design {
  padding: 200px 452px 280px 452px; */

.heroe-button-design {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-one--);
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}
.heroe-button-design:hover,
.heroe-button-design:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*------------------------ НАШІ ОСОБЛИВОСТІ--------------------*/
.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h3.main-prop-title {
  margin-top: 0;
}

.main-prop-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-prop-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-four--);
  margin-bottom: 0;
  margin-top: 0;
}
/*------------------------ ABOUT OUR ACTIVITY--------------------*/

.about-our-activity-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 0;
  margin-bottom: 50px;
}
/*------------------------ OUR TEAM--------------------*/
.our-team-section {
  background-color: var(--color-five--);
  padding-bottom: 94px;
}
.our-team-item {
  background-color: white;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  margin-top: 0;
  padding-top: 94px;
  padding-bottom: 0px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  margin-top: 30px;
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-four--);
  padding-bottom: 30px;
}
.container .team-section .img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*------------------------ FOOTER--------------------*/
.footer-design {
  background-color: #2f303a;
}
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 20px;
  padding-right: 1240px;
}
.address-position {
  margin-top: 0;
  margin-bottom: 9px;
}
.last-item {
  padding-bottom: 0px;
}
.footer-logo-design {
  margin-bottom: 20px;
}
.address-contact-info {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
}
.street-info {
  color: var(--color-one--);
  font-style: normal;
}
.footer-mail-design,
.footer-tel-design {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-design {
  text-decoration: none;
}
.footer-mail-design:hover,
.footer-mail-design:focus,
.footer-tel-design:hover,
.footer-tel-design:focus,
.street-info:hover,
.street-info:focus {
  color: var(--color-two--);
}

/*------------------------ PORTFOLIO PAGE DESIGN--------------------*/
.current-link {
  color: var(--color-two--);
}
/*-------------------BUTTONS----------------------*/
.btn-design {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  background: var(--color-five--);
  cursor: pointer;
  border-radius: 4px;
}
.btn-color:hover,
.btn-color:focus {
  color: var(--color-one--);
  background-color: var(--color-two--);
}
/*------------------------ PROJECTS EXAMPLES--------------------*/

.project-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-four--);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-three--);
}
a {
  text-decoration: none;
}
